@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Fira Sans", sans-serif !important;
}
#dropdownDelayButton:hover #dropdownDelay {
    display: block;
}

:root {
    --color-pulse: rgba(8, 65, 131, 0.8);
    --color-main-opacity: rgba(8, 65, 131, 0.8);
    --color-main: #084183;
    --color-hover: #eb681b;
    --color-footer: #0c0129;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-footer);
}
.banner .banner-img span.affles {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--color-footer);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.banner .banner-img span.affles::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-main);
    background-color: var(--color-pulse);
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 0 10px 2px var(--color-main);
}

.banner .banner-img span.affles::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-pulse);
    border: 1px solid var(--color-main);
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    box-shadow: 0 0 10px 2px var(--color-main);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.banner {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.012);
}

.business p.number,
.web-app p.number,
.aplication-crm p.number,
.application-app p.number,
.service-nt p.number {
    font-weight: 700;
    font-size: 6em;
    line-height: 96px;
    color: var(--color-hover);
    letter-spacing: -0.02em;
    position: relative;
    margin-bottom: 25px;
    padding-left: 91px;
}
.business p.number::before,
.aplication-crm p.number::before,
.web-app p.number::before,
.application-app p.number::before,
.service-nt p.number::before {
    content: "";
    width: 90px;
    height: 3px;
    background-color: var(--color-hover);
    left: 0;
    bottom: 15px;
    position: absolute;
}
.business {
    background-image: url("../public/buss.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-size: 1200px 1400px; */
}
.aplication-crm {
    background-image: url("../public/bg-dung-dung-2.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 743px 618px;
}
.application-app {
    /* background-image: url("../public/apply.png");
    background-repeat: no-repeat;
    background-position: bottom right; */
}

.web-app {
    background-image: linear-gradient(#8bc6ec, #9599e2);
}
.web-design__categorys {
    background-image: linear-gradient(
        rgba(128, 208, 199, 0.3),
        rgba(142, 197, 252, 0.3)
    );
}

.web-design__categorys .list .item {
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 1em;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.4s;
}
.web-design__categorys .list .item:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}

.contact-ntechs__content {
    background-image: linear-gradient(#8bc6ec, #9599e2);
    border-radius: 12px;
}

.banner-blog {
    background: url("../public/bg-banner-blog.jpg") no-repeat 50%;
}

/*
 Giải pháp
*/

.solution .banners {
    background: url("../public/frameworks.webp")
        /* linear-gradient(
            to right bottom,
            rgb(232, 228, 255) 0%,
            rgb(246, 249, 252) 40%,
            rgb(229, 247, 255) 100%
        ); */;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    position: relative;
}
.solution .banners::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        to right bottom,
        rgba(232, 228, 255, 0.8) 0%,
        rgba(246, 249, 252, 0.8) 40%,
        rgba(229, 247, 255, 0.8) 100%
    );
}
.solution,
.recruitment {
    background-image: linear-gradient(
        to right bottom,
        rgb(246, 249, 252) 0%,
        rgb(228, 246, 255) 40%,
        rgb(228, 246, 255) 80%,
        rgb(228, 246, 255) 100%
    );
}
.specific-number,
.blogs,
.abouts,
.page-notfound,
.page-contacts-main,
.post-detail {
    background-image: linear-gradient(
        to right bottom,
        rgba(246, 249, 252) 0%,
        rgba(228, 246, 255, 0.6) 40%,
        rgba(228, 246, 255, 0.6) 80%,
        rgba(228, 246, 255, 0.6) 100%
    );
}

.solution .service canvas {
    position: absolute;
}
.solution .service .left {
    position: absolute;
    transform: rotateX(180deg);
    z-index: 9;
    top: 0;
}
.solution .service .right {
    position: absolute;
    transform: rotate(180deg);
    z-index: 9;
    top: 0;
    right: 0;
}
.about-contents .left,
.banner-about .left {
    position: absolute;
    transform: rotateX(180deg);
    z-index: 9;
    top: 0;
    left: 0;
}

.banner-about .right {
    position: absolute;
    transform: rotateY(180deg);
    z-index: 9;
    bottom: 0;
    right: 0;
}
.about-contents .right {
    position: absolute;
    transform: rotate(180deg);
    z-index: 9;
    top: 0;
    right: 0;
    width: 12%;
}
.banner-about {
    background-image: url("../public/frameworks.webp");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-about::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        to right bottom,
        rgb(246, 249, 252) 0%,
        rgb(228, 246, 255) 40%,
        rgb(228, 246, 255) 80%,
        rgb(228, 246, 255) 100%
    );
}
.banner-contact {
    background-image: url("../public/contact-us-banner.jpg");
    background-size: cover;
}
.banner-contact::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        to right bottom,
        rgba(232, 228, 255, 0.9) 0%,
        rgba(246, 249, 252, 0.8) 40%,
        rgba(229, 247, 255, 0.8) 100%
    );
}

footer {
    position: relative;
}
footer::after {
    content: "";
    background-image: url("../public/canvafooterright.png");
    position: absolute;
    right: 0;
    display: block;
    width: 100%;
}

footer .canvas-right {
    position: absolute;
    top: 0;
    left: -4em;
    transform: rotateX(180deg);
}

footer .canvas-left {
    position: absolute;
    top: 0;
    right: -4em;
    transform: rotate(180deg);
}

/* 
modal
*/

.modals-content {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}
body.active {
    position: relative;
}
body.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
}

/* 
    alert

*/
div #toast-top-right {
    right: 1%;
    animation-name: showalert;
    animation-duration: 2s;
    top: 13%;
}

@keyframes showalert {
    0% {
        right: -100%;
    }
    100% {
        right: 1%;
    }
}

.lines-alert {
    width: 0;
    animation-name: identifier;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes identifier {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
.loadblog {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.loadblog::before {
    content: "";
    /* background: linear-gradient(45deg, #ddd, #fff); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: skeleton-loading 1s linear infinite alternate;
    z-index: 10;
    position: absolute;
    border-radius: 0.5rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 75%);
    }

    100% {
        background-color: hsl(200, 20%, 85%);
    }
}
.post-detail img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.post-detail figure {
    padding: 0.5em 0;
    display: inline-block;
}
.post-detail h2 {
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.5em 0;
}
.post-detail h3 {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em 0;
}
.post-detail .wp-block-image {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .business {
        background-image: none;
    }

    .banner .banner-img span.affles {
        width: 300px;
        height: 300px;
    }
    .business p.number,
    .web-app p.number,
    .aplication-crm p.number,
    .application-app p.number,
    .service-nt p.number {
        font-size: 5em;
        padding-left: 61px;
    }
    .business p.number::before,
    .aplication-crm p.number::before,
    .web-app p.number::before,
    .application-app p.number::before,
    .service-nt p.number::before {
        content: "";
        width: 60px;
    }
    .solution .service .left {
        position: absolute;
        transform: rotateX(180deg);
        z-index: 9;
        top: 0;
        left: -1em;
        width: 17%;
    }
    .solution .service .right {
        position: absolute;
        transform: rotate(180deg);
        z-index: 9;
        top: 0;
        right: -1em;
        width: 17%;
    }
    footer .canvas-right {
        position: absolute;
        top: -1px;
        left: -2em;
        transform: rotateX(180deg);
        width: 20%;
    }

    footer .canvas-left {
        position: absolute;
        top: -1px;
        right: -2em;
        transform: rotate(180deg);
        width: 20%;
    }
    .specific-number {
        background-image: linear-gradient(
            to right bottom,
            rgb(246, 249, 252) 0%,
            rgb(246, 249, 252) 40%,
            rgb(228, 246, 255) 90%,
            rgb(228, 246, 255) 100%
        );
    }
}
